.progress {
    width: 20%;
    height: 100%;
    background-color: green;
    border: 1px dashed blue;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms ease;
}

.progress.active {
    transform: scaleY(1);
}
