* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  /*display: flex;*/
  /*align-items: flex-end;*/
  /*justify-content: flex-end;*/
  width: 100vw;
  height: 100vh;
  background-color: blueviolet;
  /*background: url("");*/
}

.train {
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  height: 20%;
}

.train1 {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right:0;*/
  background-color: #2f72da;
  transform: translate(-100%, 400%);
  transition: transform 1000ms ease;
}

.train1.active {
  transform: translate(400%, 400%);
}

.train2 {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right:0;*/
  background-color: #333333;
  transform: translate(-100%, 300%);
  transition: transform 1000ms ease;
}

.train2.active {
  transform: translate(300%, 300%);
}

.train3 {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right:0;*/
  background-color: #333333;
  transform: translate(-100%, 200%);
  transition: transform 1000ms ease;
}

.train3.active {
  transform: translate(200%, 200%);
}

.train4 {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right:0;*/
  background-color: #333333;
  transform: translate(-100%, 100%);
  transition: transform 1000ms ease;
}

.train4.active {
  transform: translate(100%, 100%);
}

.train5 {
  /*position: absolute;*/
  /*bottom: 0;*/
  /*right:0;*/
  background-color: #333333;
  transform: translateX(-100%);
  transition: transform 1000ms ease;
}

.train5.active {
  transform: translateX(0%);
}
